@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem !important;
} */

.cards {
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem !important;
}

@media (orientation: landscape) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.episode-card {
  margin-top: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  box-shadow: 1px 1px 20px black;
}

.episode-card-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  position: relative;
  height: 200px;
  border-bottom: 2px solid white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,116,228,1) 72%);
}

.episode-card-info {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.episode-card-img > img {
  width: 250px;
  border: 0;
  border-radius: 100px;
  position: absolute;
  bottom: -25px;
  right: 5px;
  box-shadow: 0px 10px 15px #05103A;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: white;
}

#date, #name, #director, #writer {
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
}

.episode-card-name {
  position: absolute;
  right: 70px;
  bottom: 135px;
}

.episode-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  /* height: 400px; */
  background-color: red;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,116,228,1) 72%);

}

.episode-card-body a {
  display: inline-block;
}

.episode-card-body img {
  border-radius: 10px;
}

.card-header {
  width: 100%;
  text-align: start;
  padding: 15px 20px;
}