/* .img-wrapper {
  display: flex;
  height: 860px;
} */

.img-wrapper img {
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 860px;
  filter: brightness(35%)
}